<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamnullpointer.ridesharenp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".CenteralHub"
            android:label="@string/title_activity_centeral_hub"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Post"
            android:label="@string/title_activity_post" >
        </activity>
        <activity
            android:name=".ShowRiderPosts"
            android:label="@string/title_activity_show_rider_posts" >
        </activity>
        <activity
            android:name=".ShowDriverPosts"
            android:label="@string/title_activity_show_driver_posts" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD-EJ1oZfwxIfQzJ8ZhTZLoZyQACqEg9_w" />

        <activity
            android:name=".TermsOfService"
            android:label="@string/title_activity_terms_of_service" >
        </activity>
        <activity
            android:name=".ViewProfile"
            android:label="@string/title_activity_view_profile" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".MyCarpools"
            android:label="@string/title_activity_my_carpools" >
        </activity>
        <activity
            android:name=".ViewCarpool"
            android:label="@string/title_activity_view_carpool" >
        </activity>
        <activity
            android:name=".Messenger"
            android:label="@string/title_activity_messenger" >
        </activity>
    </application>

</manifest>
